<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/bloglist.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="fluid fluidList">
	<div class="row">        
		<% include header.html %>
    </div>
	
	<div class="row">
		<div class="tm-contain">
			<div class="list-header">
				<ul class="list-header-bar">
					<li class="on">
						<div>全部</div>
					</li>
					<li>
						<div>机器学习</div>						
					</li>
					<li>
						<div>区块链</div>						
					</li>
					<li>
						<div>物联网</div>						
					</li>
					<li>
						<div>杂文</div>						
					</li>
				</ul>
			</div>
			<div class="list-blank">
			</div>
			<div id="poster">
				
			</div>
			<div class="blog-list">
				<ul>
				</ul>
			</div>
		</div>
	</div>
	
    <div class="row">
        <div class="footer">
        	
        </div>
    </div>
</div>

	<!-- load JS files -->
	<script src="/js/jquery-2.2.4.min.js"></script>
	<!-- <script src="/js/jquery.mobile-1.4.5.min.js"></script> -->

<script>
	
	function moveTab(cls,num){
		<!-- var w = $(cls).find('li').width(); -->
		var ul = $(cls).find('ul');
		<!-- ul.animate({left:-w*num+'px'}); -->
		$("#poster").find('img').remove();
		$(cls).find('li').remove();
		var url = 'http://' + window.location.hostname + '/blog/list?id=' + num + '&rand=' + parseInt(Math.random()*1000);
		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			jsonp: "callback",
			success: function(json){
				<!-- console.log(json); -->
				var blogs = json.blogs;//根据后台传递过来的数据生成html内容。
				$("#poster").append('<img src="' + blogs[0].coverImage + '"/>');
				blogs.forEach(function(blog){
					var blogItem = 
						'<li>\
							<a class="blog-item" href="http://' + window.location.hostname + '/blog/article?blogId=' + blog.blogId + '">\
								<img src="' + blog.coverImage + '"/>\
								<div class="blog-info">\
									<h2>' + blog.title + '</h2>\
									<div class="detail-info">\
										<em class="blog-time">' + blog.datetime + '</em>\
										<em class="blog-read">' + blog.read + '</em>\
									</div>\
								</div>\
							</a>\
						</li>'
					ul.append(blogItem);//内容添加到页面上。
					ul.append(blogItem);//内容添加到页面上。
					ul.append(blogItem);//内容添加到页面上。
					ul.append(blogItem);//内容添加到页面上。
					ul.append(blogItem);//内容添加到页面上。
				})	
			},
			error: function(){
				alert('fails');
			}
		});
    }
	
	$(function () {
		moveTab('.blog-list', 0);
	});
	
	$('.list-header ul li').on('click',function(){
		if(!$(this).hasClass('on')){
			var index = $('.list-header ul li.on').removeClass('on').index();
			$(this).addClass('on');
			moveTab('.blog-list', $(this).index());
		}
    });

</script>

</body>
</html>
