<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bloglist.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="fluid fluidList">
	<div class="row">
        <div class="header header-bg">
			<img class="header-logo" src="images/logo.png"/>
        </div>
    </div>
	
	<div class="row">
		<div class="tm-contain">
			<div class="list-header">
				<ul>
					<li class="on">
						最新
					</li>
					<li>
						机器学习
					</li>
					<li>
						区块链
					</li>
					<li>
						物联网
					</li>
					<li>
						杂文
					</li>
				</ul>
			</div>
			
			<div class="blog-list">
				<ul>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
					<li>
						<a class="blog-item" href="#">
							<img src="http://i9.hexunimg.cn/2016-11-28/187088313.jpg"/>
							<div class="blog-info">
								<h2>区块链——新社会信用体系的建立</h2>
								<em class="blog-time">19:16</em>
								<em class="blog-read">1916</em>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
    <div class="row">
        <div class="footer">
        	
        </div>
        
		<% include nav-main.html %>
    </div>
</div>

	<!-- load JS files -->
	<script src="js/jquery-1.11.3.min.js"></script>
	
<script>

	$('.list-header ul li').on('click',function(){
      if(!$(this).hasClass('on')){
        var index = $('.list-header ul li.on').removeClass('on').index();
        $(this).addClass('on');
        <!-- moveTab('.school_lunbo',$(this).index()); -->
      }
    });
    function moveTab(cls,num){
      var w = $(cls).find('li').width();
      var ul = $(cls).find('ul');
      ul.animate({left:-w*num+'px'});
    }

</script>

</body>
</html>
