<link rel="stylesheet" href="/css/coding.css" media="screen" type="text/css" />
<div class="code-editor">
	<pre class="numbers linenums prettyprint prettyprinted">
		<ol class="linenums"><li class="L0">
				<code class="css">
					<span class="dec"># Life is not only coding</span>
				</code>
			</li><li class="L1">
				<code class="css">
					<span class="dec"># but also a poem with trip</span>
				</code>
			</li><li class="L2">
				<code class="css">
					<span class="dec"></span>
				</code>
			</li><li class="L3">
				<code class="css">
					<span class="pln">love = true</span>
				</code>
			</li><li class="L6">
				<code class="css">
					<span class="kwd">if</span>
					<span class="pln"> love:</span>
				</code>
			</li><li class="L1">
				<code class="css">
					<span class="kwd" style="padding-left: 1.5em;">print</span>
					<span class="pln">(love)</span>
				</code>
			</li>
		</ol>
	</pre>
</div>