<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="fluid fluidList">
	<div class="row">
        <div class="header header-bg">
			<img class="header-logo" src="images/logo.png"/>
        </div>
    </div>
	<h1><%= message %></h1>
	<h2><%= error.status %></h2>
    <div class="row">
        <div class="footer">
        	
        </div>
        <div class="nav-main">
            <nav class="nav--main-top">
                <ul class="nav-bar">
                	<li class="nav-item on">
                    	<a class="nav-link" href="/">
                        	<div>
                            	<img class="nav-a-img" src="icons/home-active.png"/>
                                <p>首页</p>
                            </div>
                        </a>
                    </li>
					<li class="nav-item">
                    	<a class="nav-link" href="/blog">
                        	<div>
                            	<img class="nav-a-img" src="icons/blog-normal.png"/>
                                <p>博客</p>
                            </div>
                        </a>
                    </li>
					<li class="nav-item">
                    	<a class="nav-link" href="/album">
                        	<div>
                            	<img class="nav-a-img" src="icons/album-normal.png"/>
                                <p>相册</p>
                            </div>
                        </a>
                    </li>
					<li class="nav-item">
                    	<a class="nav-link" href="/msg">
                        	<div>
                            	<img class="nav-a-img" src="icons/msg-normal.png"/>
                                <p>留言</p>
                            </div>
                        </a>
                    </li>
                 </ul>
            </nav>
        </div>
    </div>
</div>

	<!-- load JS files -->
	<script src="js/jquery-1.11.3.min.js"></script>

</body>
</html>
