<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>首页-Hawkin</title>
<link rel="stylesheet" href="/css/fullscreenslider.css">
</head>

<body>
<section id="dowebok" class="fullscreenslider">
	<div class="slidewrapper">
		<article id="slide0" class="slide">
			<div style="position: relative; top: 35%; font: 700 60px 'Microsoft Yahei'; text-align: center;">
				<p>Hello!</p>
				<p>I'm Hawkin</p>
			</div>
		</article>

		<article id="slide1" class="slide">
			<!-- <div style="position: relative; top: 35%; font: 700 60px 'Microsoft Yahei'; text-align: center;"> -->
				<% include coding.html %>
			<!-- </div> -->
		</article>

		<article id="slide2" class="slide">
			<% include bike.html %>
		</article>

		<!-- <article class="slide"> -->
			<!-- <p style="position: relative; top: 35%; font: 700 60px 'Microsoft Yahei'; text-align: center;">第四屏</p> -->
		<!-- </article> -->

		<!-- <article class="slide"> -->
			<!-- <p style="position: relative; top: 35%; font: 700 60px 'Microsoft Yahei'; text-align: center;">第五屏</p> -->
		<!-- </article> -->
		<!-- <article class="slide"> -->
			<!-- <p style="position: relative; font: 700 60px 'Microsoft Yahei'; text-align: center;">第六屏</p> -->
		<!-- </article> -->
	</div>
</section>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/fullscreenslider.js"></script>

<script>
var fss;
$(function() {
	fss = new fullscreenslider({ sliderid: 'dowebok' }, function(index){
		if (index == 1) {
			$("#slide1").find("ol").addClass("codeanimation");
		} else {
			$("#slide1").find("ol").removeClass("codeanimation");
		}
	});
});

<!-- var slide1=$("#slide1").offset().top; -->
<!-- var slide2=$("#slide2").offset().top; -->
<!-- var slide3=$("#slide3").offset().top; -->
<!-- $(window).scroll(function(){ -->
	<!-- console.log("scroll"); -->
	<!-- var top = $(window).scrollTop(); -->
	<!-- if (top < slide2) { -->
		<!-- <!-- $("#slide1") --> -->
	<!-- } else if (top < slide3) { -->
		<!-- console.log("codeanimation"); -->
		<!-- $("#slide1").find("ol").addClass("codeanimation"); -->
	<!-- } -->
<!-- }); -->
</script>

</body>
</html>