		<div class="nav-main">
            <nav class="nav--main-top">
                <ul class="nav-bar">
					<% if(id == "index") { %>
                	<li class="nav-item on">
					<% } else { %>
					<li class="nav-item">
					<% } %>
                    	<a class="nav-link" href="/">
                        	<div>
								<% if(id == "index") { %>
								<img class="nav-a-img" src="/icons/home-active.png"/>
								<% } else { %>
								<img class="nav-a-img" src="/icons/home-normal.png"/>
								<% } %>
                                <p>首页</p>
                            </div>
                        </a>
                    </li>
					<% if(id == "blog") { %>
                	<li class="nav-item on">
					<% } else { %>
					<li class="nav-item">
					<% } %>
                    	<a class="nav-link" href="/blog">
                        	<div>
                            	<% if(id == "blog") { %>
								<img class="nav-a-img" src="/icons/blog-active.png"/>
								<% } else { %>
								<img class="nav-a-img" src="/icons/blog-normal.png"/>
								<% } %>
                                <p>博客</p>
                            </div>
                        </a>
                    </li>
					<% if(id == "album") { %>
                	<li class="nav-item on">
					<% } else { %>
					<li class="nav-item">
					<% } %>
                    	<a class="nav-link" href="/album">
                        	<div>
                            	<% if(id == "album") { %>
								<img class="nav-a-img" src="/icons/album-active.png"/>
								<% } else { %>
								<img class="nav-a-img" src="/icons/album-normal.png"/>
								<% } %>
                                <p>相册</p>
                            </div>
                        </a>
                    </li>
					<% if(id == "msg") { %>
                	<li class="nav-item on">
					<% } else { %>
					<li class="nav-item">
					<% } %>
                    	<a class="nav-link" href="/msg">
                        	<div>
                            	<% if(id == "msg") { %>
								<img class="nav-a-img" src="/icons/msg-active.png"/>
								<% } else { %>
								<img class="nav-a-img" src="/icons/msg-normal.png"/>
								<% } %>
                                <p>留言</p>
                            </div>
                        </a>
                    </li>
                 </ul>
            </nav>
        </div>
