<link rel="stylesheet" href="/css/particleground.css" />
<div id="particles">
  <div class="intro">
    <h1>Hawkin</h1>
    <p>DESIGNER & DEVEPER</p>
  </div>
</div><script type='text/javascript' src='/js/particleground.js'></script><script type="text/javascript">$(document).ready(function() {  $('#particles').particleground({	minSpeedX: 0.1,    maxSpeedX: 1,    minSpeedY: 0.1,    maxSpeedY: 1,    directionX: 'center', // 'center', 'left' or 'right'. 'center' = dots bounce off edges    directionY: 'center', // 'center', 'up' or 'down'. 'center' = dots bounce off edges    density: 50000, // How many particles will be generated: one particle every n pixels    dotColor: '#5cbdaa',    lineColor: '#5cbdaa',    particleRadius: 20, // Dot size    lineWidth: 2,    curvedLines: false,    proximity: 200, // How close two dots need to be before they join    parallax: true,    parallaxMultiplier: 5 // The lower the number, the more extreme the parallax effect      });  $('.intro').css({    'margin-top': -($('.intro').height() / 2)  });});</script>
