.tm-contain {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
    position: relative;
	text-align: center;
	display: table;
}

.list-header {
	width: 100%;
	padding: 0;
	height: 3em;
	background-color: #2196F3;
	color: #fff;
	display: table;
	position: fixed;
	/* position: relative; */
	/* z-index:11; */
	/* border-bottom:1px solid #656571; */
}
.list-header ul li{
	position:relative;
	float:left;
	text-align: center;
	font-size: 1em;
	/* height: 1.8em; */
	/* line-height: 1.8em; */
	/* margin-bottom:-2px; */
	cursor:pointer;
}
.list-header ul {
	height: 100%;
	display: table;
	margin: 0;
	padding: 0;
}
.list-header li {
	height: 100%;
	padding: 0 0.5em;
	margin: 0;
	display: table;
	/* display: inline-block; */
}
.list-header div {
	display: table-cell;
	vertical-align: middle;
}
.list-header li.on:before{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
  -webkit-transition: all .3s; /* Safari 和 Chrome */
     -moz-transition: all .3s; /* Firefox 4 */
       -o-transition: all .3s; /* Opera */
          transition: all .3s;
}
.list-header li:hover:before, .list-header li.on:before {
	width: 100%;
}
.list-blank {
	margin-bottom: 3em;
}

#poster {
	margin: 0;
}

#poster img {
	margin: 0;
	width: 100%;
	display: table;
}

.blog-list {
	margin: 0;
}
.blog-list ul li a {
	position: relative;
	display: table;
}
.blog-list ul {
	margin: 0;
	padding: 0;
}
.blog-list li {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #BDBDBD;
}
.blog-list a {
	padding: 0.8em;
	width: 100%;
	color: #000;
}

.blog-item {
	
}
.blog-item img {
	border-radius: 2px;
	float: left;
	margin-right: 1em;
	width: 5.2em;
	height: 3.9em;
}
.blog-item h2 {
	width: 14em;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 1em;
	float: top;
}

.blog-info {
	float: left;
	display: table;
}

.detail-info {
	bottom: 0;
	position: absolute;
	margin-bottom: 0.8em;
}

.blog-time {
	margin: 0;
	padding: 0;
	font-size: 0.6em;
	float: left;
}


.blog-read {
	margin: 0 0 0 10em;
	padding: 0;
	font-size: 0.6em;
	float: left;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.list-header {
	margin: 0 0;
	height: auto;
	position: static;
	background-color: transparent;
	color: #212121;
	font-size: 1.3em;
}
.list-header ul {
	padding: 0;
	height: auto;
	margin: 0;
	display: table;
}
.list-header li {
	padding: 0;
	height: auto;
	margin: 1.5em 1em;
	display: table;
}
.list-header li:before {
	width: 0;
	/* position: absolute; */
	background: transparent;
}
.list-header li:hover:before, .list-header li.on:before {
	width: 100%;
}
.list-header div {
	padding: 0.5em 1em;
	border-width: 0;
	margin: 0 0 5px 0;
	/* height: 2em; */
	display: block;
}
.list-blank {
	display: none;
}

.list-header-bar > li.on > div {
	background-color: #FF4081;
	border-radius: 5px;
	color: #FFFFFF;
}

.blog-list a {
	padding: 0.8em;
	font-size: 1.5em;
}

.blog-list li {
	padding: 0;
	margin: 10px 0;
	background: #FFFFFF;
	border-bottom: none;
	box-shadow: 0 0 3px -2px #000;
}
.blog-item img {
	border-radius: 2px;
	float: left;
	margin-right: 1em;
	/* width: 4em; */
	/* height: 3em; */
}
.blog-item h2 {
	width: 20em;
}
}