.tm-section {
    overflow: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}
.tm-container {
    margin: 0 auto;
    max-width: 1000px;
}

.tm-title {
	font-size: 2em;
    margin-bottom: 2em;
}

.text-xs-center {
	text-align: center !important;
}

.blue-text {
    color: #006699;
}

.tm-img-grid {
	margin: 60px 20px;
    overflow: auto;
}

.tm-gallery-img-container {
    float: left;
    max-width: 300px;
    width: 25%;
}

.info-person {
	align-items: center;
	position: relative;
	/* display: flex; */
    flex-direction: column;
    height: 10em;
    justify-content: center;
	text-align: center;
	background: rgba(0, 0, 0, 0) url("../img/homebg.jpg") no-repeat left top / 100% 10em;
	color: white;
}
.info-person p {
	font-size: 1.6em;
	color: #212121;
	margin: 1em 0 0 0;
	padding: 0;
	display: none;
}

.head-logo {
	border-style: solid;
	border-color: #BDBDBD;
	border-width: 2px;
	margin-top: 7em;
	margin-bottom: -3em; 
	width: 6em;
	height: 6em;
	border-radius: 3em;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.tm-text {
	font-size: 1.5em;
}

.tm-img-grid {
	margin: 60px 0px;
    overflow: auto;
}

.info-person {
	height: 30em;
	background: rgba(0, 0, 0, 0) url("../img/homebg.jpg") no-repeat fixed left top / 100% 40em;
}
.info-person p {
	display: block;
	margin-top: 1em;
	font-size: 3em;
	color: #FFFFFF;
}

.head-logo {
	margin-bottom: 0em; 
	width: 8em;
	height: 8em;
	border-radius: 4em;
}

}